body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: arial;
}

.header {
    display: flex;
    justify-content: center;
    height: 10%;
    background: lightseagreen;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 90%;
}

.model_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 85%;
    margin: 3% 0;
}

.input_box {
    background: rgba(192,192,192,.3);
    height: 50%;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 5%;
}

.input_feature {
    width: 75%;
    border: none;
    margin: 10px 0 0 5%;
    padding: 10px;
    border-radius: 5px;
}

.input_feature:focus {
    border: 3px solid lightseagreen;
    outline: none;
}

.submit_button {
    width: 100px;
    height: 40px;
    color: white;
    background: lightseagreen;
    margin: 10px 0 0 5%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-out .5s;
}

.submit_button:focus {
    border: 3px solid lightseagreen;
    background: white;
    color: lightseagreen;
    outline: none;
}

.submit_button:hover {
    border: 3px solid lightseagreen;
    background: white;
    color: lightseagreen;
    transition: ease-out .5s;
}

.vis_block {
    display: flex;
    background: rgba(192,192,192,.3);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    width: 25%;
    height: 85%;
    margin: 3% 5%;
}

.clock {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white url('../images/clock.png');
    background-size: cover;
    border-radius: 50%;
    border: 15px solid white;
    box-shadow: inset 0 0 30px rgba(0,0,0,.1),
                    0 20px 20px rgba(0,0,0,.2),
                    0 0 0 4px rgba(255,255,255,1);

}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    border: 2px solid white;
    z-index: 100000;
    border-radius: 50%;
}

.hour {
    position: absolute;
}

.min {
    position: absolute;
}

.hour, .hr {
    width: 160px;
    height: 115px;
}

.min, .mn {
    width: 190px;
    height: 150px;
}

.hr, .mn {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 50px;
    background: black;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 80px;
    background: lightseagreen;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}



